@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gochi Hand';
  src: url('../fonts/Gochi_Hand/GochiHand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
}

h1, h2 {
  font-family: "Gochi Hand", sans-serif;
}

h3, h4, h5, h6, p, a, button {
  font-family: "Red Hat Display", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}

.blinking-cursor {
  font-weight: 200;
  font-size: 32px;
  color: #2663eb;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #2663eb;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s forwards;
}

.animate-slide-up {
  animation: slide-up 0.3s forwards;
}